<div class="accordion-item" [class.expanded]="expanded()">
  <button class="accordion-header" (click)="toggled.emit()" type="button">
    <div class="header-content">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="iconPath()" />
        </svg>
      </span>
      <span class="title">{{ heading() }}</span>
    </div>
    <span class="chevron" [class.rotated]="expanded()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
      </svg>
    </span>
  </button>

  <div class="accordion-content" [class.open]="expanded()">
    <ng-content />
  </div>
</div>
